@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import url(https://fonts.googleapis.com/css?family=Raleway);



$ana-renk: #000;
$h1-renk: #0D0D2D;
$h3-renk:#C38976;
$span-first:#0D0D2D;
$h3-font-family: 'Rubik', sans-serif;
$h4-font-family: 'Rubik', sans-serif;
$span-first-font-size: 36px;
$span-first-line-height: 100%;
$span-first-font-weight: 400;
$span-second:#FFFF;
$span-second-font-size: 24px;
$span-second-line-height: 110%;
$span-second-font-weight: 400;
$a-footer-color:#0D0D2D;


body {
  background-color: $ana-renk;
}

h1 {
font-family: var(--bs-h1-font-family);
font-weight: 400;
font-size: 2.5rem;
line-height: 100%;
font-style: normal;
color: $h1-renk;
}

h2 {
font-family: var(--bs-h1-font-family);
font-weight: 400;
font-size: 2.5rem;
line-height: 100%;
font-style: normal;
color: $h1-renk;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-family: var(--bs-h1-font-family);
  color: $h3-renk;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 110%;
}

li {
  font-family: var(--bs-h1-font-family);
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  color: #0D0D2D;
  line-height: 24.82px;
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  position: relative;
}

figure .nav-link {
  width: 40%;
  padding: 15px !important;
  top: 100px;
  position: absolute;
  right: 0px !important;
  display: inline-block;
  background-color: #e7a954;
  z-index: 9;
  padding: 0.75rem 0.9375rem;
  line-height: 1;
  border-top-left-radius: 4px;
  text-decoration: none;
}

span.first.inset-6 {
  text-align: start;
  font-size: $span-first-font-size;
  font-weight: $span-first-font-weight;
  line-height: $span-first-line-height;
  display: block;
  color: $span-first;
}

span.second {
  display: block;
  color: $span-second;
  text-align: start;
  margin-top: 5px;
  font-size: 24px
}

i.fa-solid {
position: relative;
font-style: normal;
margin-right: 20px;
margin-left: 20px;
font-size: 0.7rem;
display: inline-block;
vertical-align: middle !important;
color: #585858;
}

div.down-icon {
border-right: 1px solid #585858;
}

i.fa-regular {
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
vertical-align: center;
text-align: center;
}

html, body {
margin: 0;
height: 100%;
}

* {
font-family: "Raleway";
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.top-nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 1320px;
margin: 0 auto;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
height: 50px;
padding: 1em;
}

.menu {
margin: 0 auto !important;
margin-right: 0 !important;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
cursor: pointer;
}

.menu-button-container {
display: none;
height: 100%;
width: 30px;
cursor: pointer;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
-webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
-o-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
-webkit-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
        transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
-webkit-transform: rotate(-405deg);
    -ms-transform: rotate(-405deg);
        transform: rotate(-405deg);
}

@media (max-width: 850px) {
.menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 58px !important;
  z-index: 1;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 0 !important;
  color: #fff !important;
  font-weight: 300 !important;
}

#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 100%;
  padding: 1.5em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 12px;
}

#menu-toggle:checked ~ .menu li.hotels-li {
  margin: 0 !important;
  color: #fff !important;
  font-weight: 300 !important;
}

.menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
}

footer {
position: relative;
font-size: .875rem;
font-weight: 300;
background-color: #def6ff;
padding-top: 1.625rem;
margin-top: 4.6875rem;
}

footer:before {
content: "";
position: absolute;
height: 11.375rem;
top: 0;
left: 0;
right: 0;
background: #fbfbfb;
}

footer .row {
margin-left: auto;
margin-right: auto;
}

footer div.col-12 {
margin-top: 2.25rem;
}

footer a.inline-block {
display: block;
}

.swiper-slide {
margin-right: 25px !important;
}

li a.footer-menu-link  {
color: $a-footer-color;
}

@media (max-width: 1200px) {
.fs-1 {
  font-size: 2.5rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}
.fs-3 {
  font-size: 1.75rem !important;
}
.fs-4 {
  font-size: 1.5rem !important;
}
footer {
  padding-left: 5rem;
  padding-right: 5.5rem;
  width: 100% !important;
  font-size: 12px !important;
}

div.row .order-md-1 {
  position: relative;
}

div.logo {
  z-index: 1;
}

footer {
  padding-left: 1rem;
  padding-right: 2rem;
  width: 100% !important;
}
footer h4 {
  font-size: 12px !important;
}

.col-md.order-md-2.hotels-list-block {
  margin-top: 50px !important;
}

footer div.col-12 {
  padding-left: 0 !important;
}

ul.footer-first {
  padding-left: 0 !important;
}
}

@media (max-width: 1399px) {
footer div.col-12 {
padding-left: 0 !important;
}

ul.footer-first {
padding-left: 0 !important;
}
}
@media print {
.d-print-inline {
  display: inline !important;
}
.d-print-inline-block {
  display: inline-block !important;
}
.d-print-block {
  display: block !important;
}
.d-print-grid {
  display: -ms-grid !important;
  display: grid !important;
}
.d-print-table {
  display: table !important;
}
.d-print-table-row {
  display: table-row !important;
}
.d-print-table-cell {
  display: table-cell !important;
}
.d-print-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.d-print-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
.d-print-none {
  display: none !important;
}
}

.container-header {
padding-top: 0.5rem !important;
}

.nav-item .dropdown-toggle{
font-family: var(--bs-header-font-family) !important;
font-size: 13px !important;
}
.nav-link {
padding: 0 !important;
padding-left: 25px !important;
margin-left: 1rem;
}
#basic-navbar-nav {
margin-left: 13rem;
}

.figure {
position: relative;
display: block;
margin-bottom: 0;
width: 100%;
}

div.row .col-3 {
padding: 0 !important;
}

div.text-center {
padding: 0 !important;
}

img.rounded.mt-3 {
width: 100%;
}

.footer-container {
width: 1320px !important;
margin: 0 auto;
}

footer .figure img {
top: 0;
left: 0;
min-width: 100%;
width: 100%;
min-height: 100%;
-o-object-fit: cover;
object-fit: cover;
vertical-align: middle;
border: none;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: opacity 1.5s cubic-bezier(.19,1,.22,1),-webkit-transform 1.5s cubic-bezier(.19,1,.22,1);
transition: opacity 1.5s cubic-bezier(.19,1,.22,1),-webkit-transform 1.5s cubic-bezier(.19,1,.22,1);
-o-transition: transform 1.5s cubic-bezier(.19,1,.22,1),opacity 1.5s cubic-bezier(.19,1,.22,1);
transition: transform 1.5s cubic-bezier(.19,1,.22,1),opacity 1.5s cubic-bezier(.19,1,.22,1);
transition: transform 1.5s cubic-bezier(.19,1,.22,1),opacity 1.5s cubic-bezier(.19,1,.22,1),-webkit-transform 1.5s cubic-bezier(.19,1,.22,1);
will-change: transform,opacity;
}

.swiper {
margin-left: auto;
margin-right: auto;
position: relative;
overflow: hidden;
list-style: none;
padding: 0;
z-index: 1;
}

.swiper-slide {
-ms-flex-negative: 0;
flex-shrink: 0;
width: 100%;
height: 100%;
position: relative;
-webkit-transition-property: -webkit-transform;
transition-property: -webkit-transform;
-o-transition-property: transform;
transition-property: transform;
transition-property: transform, -webkit-transform;
transition-property: transform,-webkit-transform;
}

.swiper-slide.last {
margin-right: 0 !important;
}

footer .swiper-slide a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

footer .swiper-slide a i {
position: absolute;
margin: 0;
right: 0;
bottom: 0;
}

footer .swiper-slide a i::before {
color: #000;
font-size: 40px;
}

footer .footer-pages {
padding-bottom: 1.625rem;
border-bottom: 1px solid rgba(2,2,13,.2);
}

footer div.col-12 {
margin-top: 2.25rem;
padding-left: 5rem;
}

ul.footer-first {
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

ul.footer-first li {
width: auto;
min-width: -webkit-fit-content;
min-width: -moz-fit-content;
min-width: fit-content;
max-width: 100%;
}         

li a.footer-menu-link {
position: relative;
padding-bottom: 2px;
text-decoration: none;
}

li + li {
margin-left: 1.625rem;
}

li a.footer-menu-link-active {
position: relative;
font-weight: 700;
padding-bottom: 2px;
color: #084298;
text-decoration: underline #ffd37d !important;
      -webkit-text-decoration: underline #ffd37d !important;
}

* {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

body {
margin: 0px;
font-family: 'segoe ui';
background-color: #fff;
}

.nav {
height: 50px;
width: 100%;
background-color: #4d4d4d;
position: relative;
}

.nav > .nav-header {
display: inline;
}

.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 22px;
color: #fff;
padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
display: none;
}

.nav > .nav-links {
display: inline;
float: right;
font-size: 18px;
}

.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: #efefef;
}

.nav > .nav-links > a:hover {
background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
display: none;
}

.menu-button {
background-color: #000000 !important;
}

.menu-button::before {
background-color: #000000 !important;
}

.menu-button::after {
background-color: #000000 !important;
}

.top-nav {
padding: 3em !important;
padding-left: 0 !important;
padding-right: 0 !important;

}

li.hotels-li {
margin-left: 2rem !important;
font-weight: bold !important;
color: #000 !important;

}

@media (max-width:850px) {
section.top-nav {
  padding: 2rem !important;
}
}

@media (max-width:1150px) {
section.top-nav {
  width: 950px !important;
}
}

@media (max-width:1350px) {
section.top-nav {
  width: 1100px !important;
}
}

@media (max-width:1150px) {
section.top-nav {
  width: 900px !important;
}
}

@media (max-width:950px) {
section.top-nav {
  width: 875px !important;
  padding: 10px !important;

}
}

@media (max-width:870px) {
section.top-nav {
  width: 850px !important;
  padding: 25px !important;

}
}

@media (max-width:850px) {
section.top-nav {
  width: 100% !important;
}
}

@media (min-width:1400px) {
div.logo {
  position: relative;
}

}

@media (max-width:1400px) {
div.footer-container div.row {
  width: 100% !important;
  display: block !important;
  padding-left: 4rem !important;
  margin-right: 0 !important;
}
.col-md.order-md-2.hotels-list-block {
  margin-top: 130px;
}

div.row .order-md-1 {
  position: relative;
}

div.logo {
  z-index: 1;
}

.swiper-slide {
  margin-right: 15px;
}

p.copyright {
  margin-left: 1rem;
}

.col-xl-auto.col-md.order-md-5.d-flex.align-items-center.ms-xl-auto.ps-xl-0 {
  padding-left: 0rem !important;
}
}

@media (max-width:1400px) {
.col-md.order-md-2.hotels-list-block {
  margin-left: 0 !important;
}
}

@media (min-width:1400px) {
.col-md.order-md-2.hotels-list-block {
  width: 100% !important;
  display: block !important;
  padding: 2rem !important;
  margin-right: 0 !important;
}
}

@media (max-width:1400px) {
.order-md-1 {
  width: 100% !important;
  display: block !important;
}
}

@media (max-width:1400px) {
.footer-container {
  width: 100% !important;
  display: block !important;
}
}

@media (max-width:1400px) {
figure.third-img img a {
  width: 100% !important;
  display: block !important;
  padding: 2rem !important;
  margin-right: 0 !important;
}
}

@media (max-width:999px) {
 a.nav-link {
  width: 80% !important;
  padding: 20px !important;
  top: 80px !important;
  right: 0px !important;
}
}

@media (max-width:799px) {
span.second {
  display: none !important;
}
}

@media (max-width:450px) {
a.nav-link {
 width: 90% !important;
 padding: 5px !important;
 top: 75px !important;
 right: 0px !important;
}
}

@media (max-width:450px) {
a.nav-link span {
  font-size: 21px !important;
}
}

@media (max-width:450px) {
a.nav-link i {
  font-size: 30px !important;
}
}

@media (max-width:1400px) {
div.col-7 {
  width: 100% !important;
  padding: 1rem !important;
}

div.container-main figure {
  padding: 1rem !important;
}
}

@media (max-width:1400px) {
p.col-9 {
  width: 100% !important;
}
}

@media (max-width:1400px) {
div.mt-5 {
  padding: 0 !important;
}
}

@media (max-width:1400px) {
div.col-3 {
  width: 100% !important;
}
}

@media (max-width:1400px) {
figure.figure img {
  width: 100% !important;
}
}

@media (max-width:750px) {
div.col-3 figure.figure {
  width: 100% !important;
}
}

@media (max-width:750px) {
div.col-3{
 display: block;
 width: 100% !important;
}

p.copyright {
  margin-left: 0 !important;
}
}

@media (max-width:750px) {
div.col-3 figure.figure img {
  width: 100% !important;
}
}

@media (max-width:750px) {
i.fa-solid {
  display: none !important;
  padding-left: 0.5rem !important;
}
}

@media (max-width:700px) {
footer div.col-12 {
  padding: 0 !important;
}

.col-xl-auto.col-md.order-md-5.d-flex.align-items-center.ms-xl-auto.ps-xl-0  {
  margin-top: 15px;
}

footer .footer-container div.row {
  padding-left: 0px !important;
}

ul.footer-first {
  padding-left: 0px !important;
}
}

@media (max-width: 600px) {
div.footer-container div.row {
  padding: 0 !important;
}

footer {
padding-right: 0 !important;
}

div.footer-container div.col-md h4 {
  font-size: 8px !important;
}
}

@media (min-width:1150px) {
ul.menu li {
  font-size: 11px !important;
}
}

@media (min-width:1200px) {
ul.menu li {
  font-size: 13px !important;
}
}


@media (min-width:999px) {
img.rounded-top {
  width: 100px !important;
}
}

@media (min-width:999px) {
ul.menu li {
  font-size: 11px;
}
}


@media (min-width:800px) {
ul.menu li {
  font-size: 8.5px;
}
}

@media (min-width:900px) {
ul.menu li {
  font-size: 10px;
}
}

@media (min-width: 800px) {
img.rounded-top {
    width: 50px;
  }
}

@media (max-width: 900px) {
.fa-chevron-down {
    display: none !important;
  }
}

@media (max-width:800px) {
ul.menu li {
  font-size: 8px;
}

@media (max-width:750px) {
ul.menu li {
  font-size: 7px;
}
}
@media (min-width:850px) {
a.header-bar-logo img.rounded-top {
  width: 50px !important;
}
}

@media (max-width:1399px) {
footer {
  width: 100% !important;
}
}

@media (max-width:850px) {
footer.row {
  width: 100%;
}
}

@media (max-width:1399px) {
div.footer-container {
  width: 100% !important;
}
}

@media (max-width:1399px) {
h3.hotels-block-title {
  font-size: 10.3px;
}
}

@media (max-width:750px) {
.row.container-main  {
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

div.mt-5 div.row {
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

div.text-center {
  padding: 1rem !important;
}

li {
  margin-left: 0 !important;
}

li + li  {
  margin-left: 0 !important;
}
}

.nav > .nav-btn {
display: inline-block;
position: absolute;
right: 0px;
top: 0px;
}

.nav > .nav-btn > label {
display: inline-block;
width: 50px;
height: 50px;
padding: 13px;
}

.top-nav {
padding: 0.8em !important;
}

.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
background-color: rgba(0, 0, 0, 0.3);
}

.nav > .nav-btn > label > span {
display: block;
width: 25px;
height: 10px;
border-top: 2px solid #eee;
}

.nav > .nav-links {
position: absolute;
display: block;
width: 100%;
background-color: #333;
height: 0px;
-webkit-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
overflow-y: hidden;
top: 50px;
left: 0px;
}

a.header-bar-logo {
  display: block !important;
  width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
}

img.rounded-top {
  width: 50px;
}
}

h3.hotels-block-title {
text-align: end;
}

i.icons--chevron-up {
position: relative;
font-style: normal;
line-height: 1;
display: inline-block;
vertical-align: middle;    width: 8px;
height: 8px;
-webkit-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.col-auto.order-md-1.mb-active {
margin-left: 0px;
padding: 0;
}

.col-md.order-md-2.hotels-list-block {
width: 1240px;
padding: 0px !important;
}